<div class="col-xs-6 col-xs-offset-3">
  <div class="col-xs-9">
    <pre>Selected date is: <em>{{$ctrl.dt | date:'fullDate' }}</em></pre>
  </div>

  <div class="col-xs-6">
    <p class="input-group">
      <input type="text" class="form-control" uib-datepicker-popup="{{$ctrl.format}}" ng-model="$ctrl.dt" is-open="$ctrl.popup.opened"
        datepicker-options="$ctrl.dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="$ctrl.open()">
          <i class="glyphicon glyphicon-calendar"></i>
        </button>
      </span>
    </p>
  </div>
</div>